* {
  padding: 0;
  margin: 0;
}

#myCanvas {
  background-color: #000000;
  position: absolute;
  z-index: 3;
  margin: 313px 240px;
}

#arcade {
  background-image: url('./arcade1.png');
  background-repeat: no-repeat;
  width: 960px;
  height: 1500px;
  margin: 10px auto;
  position: relative;
}

@font-face {
  font-family: 'ArcadeClassic';
  src: url('ARCADECLASSIC.TTF');
}

#nameBox {
  width: 60px;
  height: 20px;
  z-index: 5;
  position: relative;
  background-color: #000000;
  top: 510px;
  left: 520px;
  font-size: 30px;
  font-family: 'ArcadeClassic';
  color: white;
}
